:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-salmon: #EE9912;
  --secondary-peach: #FBDABB;
  --highlight-gray: #EDEFEE;
  --highlight-black: #333333;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Karla, sans-serif;
  font-size: 2.1rem;
  line-height: 1.5;
}

.section {
  padding-left: 6em;
  padding-right: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:active {
  color: var(--primary-yellow);
}

a:hover,
a:focus {
  outline: none;
  border-bottom: 2px var(--primary-yellow) solid;
}

h1, h2, h3, h4 {
  font-family: 'Markazi Text', serif;
  font-weight: bold;
}

h1, h2 {
  font-size: 5.3rem;
  line-height: 0.5;
}

h3 {
  font-size: calc(5.3rem / 1.5);
}

p {
  max-width: 65ch;
}

button {
  border: none;
  border-radius: 16px;
  padding: 0.8em 1.5em;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: var(--primary-yellow);
  transition: all 0.5s ease-in;
  cursor: pointer;
}

button:hover,
button:focus {
  outline: none;
  filter: saturate(200%);
}

button:active {
  transform: scale(0.95);
}

/* NAV ///////////////////////////////////////////// */
header.section {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-container {
  gap: 2em;
}

.nav-container img {
  width: 10em;
}

.nav-container .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

.nav-links a {
  font-weight: bold;
  transition: color 0.5s ease-in-out;
}

/* HERO ///////////////////////////////////////// */
main.section {
  padding-top: 12em;
  padding-bottom: 3em;
  background-color: var(--primary-green);
}

.hero-container {
  gap: 1em;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: #fff;
}

.hero-info h1 {
  color: var(--primary-yellow);
}

.hero-info h3 {
  margin-bottom: 0.5em;
}

.hero-info p {
  font-family: Karla, sans-serif;
}

.hero-info button {
  margin-top: 0.5em;
}

.hero-img img {
  width: 100%;
  max-width: 300px;
  border-radius: 16px;
}

/* SPECIALS //////////////////////// */
.specials-container.section {
  padding-top: 5em;
  padding-bottom: 6em;
}

.specials-heading,
.specials-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.specials-cards {
  align-items: stretch;
  margin-top: 3em;
}

.specials-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.8em;
  border-radius: 16px;
  background-color: var(--highlight-gray);
  flex: 1;
  flex-basis: 350px;
}

.specials-card > *:not(img) {
  padding: 1em 1.6em;
}

.specials-card img {
  margin: 0;
  width: 100%;
  aspect-ratio: 2 / 1.5;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.specials-card .specials-card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.specials-card .specials-card-heading h4 {
  font-size: 2.8rem;
}

.specials-card .specials-card-heading p {
  color: var(--secondary-salmon);
}

.specials-card div:last-child {
  margin-top: 0.5em;
  font-weight: bold;
}

/* TESTIMONIALS ////////////////////////// */
.testimonials-container {
  background-color: var(--secondary-peach);
  padding-top: 8em;
  padding-bottom: 8em;
}

.testimonials-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 1em;
  margin-top: 3em;
}

.testimonials-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  padding: 3em 2em;
  border-radius: 16px;
  background-color: var(--highlight-gray);
  font-weight: bold;
  flex: 1;
  max-width: 300px;
}

.testimonials-card > *:not(div:last-child) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.testimonials-card img {
  width: 6em;
  border-radius: 50%;
}

.testimonials-card div:last-child p:last-child {
  font-weight: 100;
  font-style: italic;
}

/* ABOUT ///////////////////////////////// */
.about-container {
  padding-top: 10em;
  padding-bottom: 10em;
  background-color: var(--primary-green);
}

.about-container .content-wrapper {
  gap: 10em;
}

.about-text {
  color: #fff;
  flex: 1;
}

.about-text h2 {
  color: var(--primary-yellow);
}

.about-text p {
  padding-top: 1em;
}

.about-imgs {
  display: flex;
  width: 30rem;
  height: 30rem;
  margin: 50px;
}

.about-imgs img {
  width: 30rem;
  height: 30rem;
  flex-shrink: 0;
}

.about-imgs img:first-child {
  position: relative;
  align-self: end;
  margin: -8em;
  margin-right: 0;
  margin-bottom: -1em;
  transform: rotate(-5deg);
  z-index: 10;
}

.about-imgs img:last-child {
  transform: rotate(10deg);
  margin: -2em;
  margin-left: -6.2em;
}

/* FOOTER ///////////////////////// */
footer.section {
  background-color: var(--highlight-gray);
  padding-top: 6em;
  padding-bottom: 2em;
  gap: 5em;
}

.footer-container {
  align-items: flex-start;
  gap: 3em;
}

.footer-container img {
  width: 35%;
  min-width: 380px;
}

.footer-links-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6em;
}

.footer-links-group h4 {
  font-family: Karla, sans-serif;
}

footer span {
  font-weight: bold;
}

/* WIP ///////////////////////////////////// */
.WIP-container {
  padding: 0;
}

.WIP-container .content-wrapper {
  position: relative;
  width: 100%;
}

.WIP-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-align: center;
  z-index: 30;
}

.WIP-container img {
  font-weight: bold;
  opacity: 0.3;
  width: 100%;
}

